{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "S.E.E.L.E - Checklist" %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if msg %}
            <div class="alert alert-{{ tag }}">{{ msg }}</div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "Emergency Checklist" %}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for category, items in categories.items %}
                        <div class="col-md-4" style="background-color: {% cycle '#ffcccc' '#ccffcc' '#ccccff' '#ffffcc' %};">
                            <h5>{% trans category %}</h5>
                            {% if items %}
                            <ul class="list-group">
                                {% for item in items %}
                                <li class="list-group-item">
                                    <input type="checkbox" id="item{{ forloop.parentloop.counter }}{{ forloop.counter }}" name="item{{ forloop.parentloop.counter }}{{ forloop.counter }}" value="item{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                    <label for="item{{ forloop.parentloop.counter }}{{ forloop.counter }}">  {{ item|safe }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>{% trans "No items available" %}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <form action="{% url 'disasterposter' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-success">{% trans "Generate Poster" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
