{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "S.E.E.L.E - Checklist" %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if msg %}
            <div class="alert alert-{{ tag }}">{{ msg }}</div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "Emergency Kit Checklist" %}</h5>
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="safety-guides row mt-6">
                            <div class="col mt-3">
                                <img src="{% static 'images/girl_safety.png' %}" alt="Safety Girl Image" id="safety-girl" class="small-image img-fluid mt-4 float-right">
                            </div>

                            <div class="col mt-3 align-self-center">
                                <p class="text-start" id="safety-msg-1"><b>{% trans "Prepare a go bag for each family member in case you must evacuate in the event of a disaster." %}</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        {% for category, items in categories.items %}
                        <div class="col-md-6" style="background-color: {% cycle '#ffcccc' '#ccffcc' '#ccccff' '#ffffcc' %}; margin: 5px; padding: 10px; border-radius: 5px;">
                            <h5>{{category | safe }}</h5>
                            {% if items %}
                            <ul class="list-group" style="background-color: inherit; border: none;">
                                {% for item in items %}
                                <li class="list-group-item" style="background-color: inherit; border: 1px solid #000; margin-bottom: 5px; border-radius: 4px;">
                                    <input type="checkbox" id="item{{ forloop.parentloop.counter }}{{ forloop.counter }}" name="item{{ forloop.parentloop.counter }}{{ forloop.counter }}" value="item{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                    <label for="item{{ forloop.parentloop.counter }}{{ forloop.counter }}">  {{ item|safe }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>{% trans "No items available" %}</p>
                            {% endif %}
                        </div>
                        {% endfor %}

                    </div>
                    <div class="col">
                        <div class="safety-guides row mt-6">
                            <div class="col mt-3 align-self-center">
                                <p class="text-end" id="safety-msg-2"><b>{% trans "Check out all the checklist items bro! 100% preparedness only!!" %}</b></p>
                            </div>

                            <div class="col mt-3">
                                <img src="{% static 'images/boy_safety.png' %}" alt="Safety Boy Image" id="safety-boy" class="small-image img-fluid mt-4">
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <form action="{% url 'disasterposter' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">{% trans "Generate Poster" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
