{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Disaster Poster" %}{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Disaster Poster</title>
</head>
<body>
    <h1>Disaster Poster</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% elif image_url %}
        <img src="{{ image_url }}" alt="Disaster Poster">
        <div>
            <a href="{% url 'download_poster' %}" class="btn btn-primary">Download Image</a>
        </div>
    {% endif %}
</body>
{% endblock %}