{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4">
            {% if msg %}
            <div class="alert alert-{{tag}}">{{ msg }}</div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "Family Information" %}</h5>
                </div>
                <div class="card-body">
                    <form id="family-info-form" action="{% url 'familyinfo' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans "Location" %}</label>
                            <input type="text" placeholder="{% trans "Location " %}" class="form-control" name="location" id="location" required readonly>
                        </div>
                        <button type="button" class="btn btn-primary" id="fetch-location-btn">{% trans "Fetch Location" %}</button>
                        <div class="form-group" style="margin-top: 20px">
                            <label>{% trans "Family Size" %}</label>
                            <input type="text" placeholder="{% trans "Number of Family Members" %}" class="form-control" name="family_size" required>
                        </div>
                        {{ form.as_p }}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_women_bool" name="women_bool">
                            <label class="form-check-label" for="id_women_bool">{% trans "There are women in my family." %}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_child_bool" name="child_bool">
                            <label class="form-check-label" for="id_child_bool">{% trans "There are children in my family." %}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_baby_bool" name="baby_bool">
                            <label class="form-check-label" for="id_baby_bool">{% trans "There are infants in my family." %}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_pet_bool" name="pet_bool">
                            <label class="form-check-label" for="id_pet_bool">{% trans "There are pets in my family." %}</label>
                        </div>
                        <label>{% trans "Physical Disabilities" %}</label>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_blind_bool" name="blind_bool">
                            <label class="form-check-label" for="id_blind_bool">{% trans "Blindness" %}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_deaf_bool" name="deaf_bool">
                            <label class="form-check-label" for="id_deaf_bool">{% trans "Deafness" %}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_wheelchair_bool" name="wheelchair_bool">
                            <label class="form-check-label" for="id_wheelchair_bool">{% trans "Wheelchair bound" %}</label>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Medical Issues (optional):" %}</label>
                            <input type="text" placeholder="{% trans "Enter medical condition" %}" class="form-control" name="medical_issues">
                        </div>
                        <div class="form-group">
                            <label>{% trans "Medication Amount (optional):" %}</label>
                            <input type="number" class="form-control" name="medication_amount" placeholder="{% trans "Amount of medication needed per day" %}">
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-success" id="submit-btn" disabled>{% trans "Continue" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var fetchLocationBtn = document.getElementById('fetch-location-btn');
        var submitBtn = document.getElementById('submit-btn');
        var locationInput = document.getElementById('location');

        fetchLocationBtn.addEventListener('click', function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;
                    locationInput.value = lat + "," + lon;
                    submitBtn.disabled = false;
                }, function(error) {
                    console.error("Error occurred while retrieving location: ", error);
                });
            } else {
                console.error("Geolocation is not supported by this browser.");
            }
        });
    });
</script>

{% endblock %}
