
{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<body>
<div class="jumbotron">
    <div class="container">
        <h1>S.E.E.L.E</h1>
        <h2>Strategic Emergency Education for Localized Events</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <h3>{% trans "What S.E.E.L.E is" %}</h3>
                        <p class="card-text">{% trans "S.E.E.L.E is a web app that helps you personally prepare for a wide range of disasters. From Typhoons to Earthquakes, we've got you covered." %}</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <div class="card-body" id="who-we-are">
                        <h3>{% trans "Who we are" %}</h3>
                        <p class="card-text">{% trans "We’re a multicultural group of students from the University of Florida and Kyoto University, committed to making disaster preparation easier for all." %}</p>
                        <img src="{% static 'images/uf-x-kyodai.png' %}" alt="UF x Kyodai" id="uf-x-kyodai" class="hover-img">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <h3>{% trans "How it works" %}</h3>
                        <p class="card-text">{% trans "S.E.E.L.E creates a personalized checklist for emergency supplies that can help during times of crisis, and can provide users information via an infographic with important information regarding the disaster." %}</p>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h3>{% trans "Meet Our Guides!" %}</h3>
        <div class="row mt-4">
            <div class="guide col mt-4" id="kyo-guide">
                <img src="{% static 'images/girl_default.png' %}" alt="Kyodai Girl Image" class="small-image img-fluid mt-4">
                <p class="guide-desc">{% trans "こんにちは! My name is Kyodai-san and I am here to help you get prepared for any disaster that comes." %}</p>
            </div>

            <div class="guide col mt-4" id="seele-guide">
                <img src="{% static 'images/seal_default.png' %}" alt="Seele Image" class="small-image img-fluid mt-4">
                <p class="guide-desc">{% trans "Yahallo! Please allow me, Seele-san, to be at your service against all disaster!" %}</p>
            </div>

            <div class="guide col mt-4" id="fl-guide">
                <img src="{% static 'images/boy_default.png' %}" alt="Florida Boy Image" class="small-image img-fluid mt-4">
                <p class="guide-desc">{% trans "What's up! The name's Ricky and we got you covered for any disaster!" %}</p>
            </div>


        </div>
        {% if request.session.user_email %}
        <a href="{% url 'profile' %}" class="btn btn-primary mt-4">View Profile</a>
        {% else %}
        <a href="{% url 'signup' %}" class="btn btn-primary mt-4">Get Started</a>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}
