{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "S.E.E.L.E - Login" %}{% endblock %}
{% block content %}
<div class="container" id="login-box" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if msg %}
                <div class="alert alert-{{tag}}">{{ msg }}</div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "Login Form" %}</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans "Email Address" %}</label>
                            <input type="email" placeholder="{% trans 'Email Address' %}" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Password" %}</label>
                            <input type="password" placeholder="{% trans 'Password' %}" class="form-control" name="password" required>
                        </div>

                        <div class="login-greeting row">
                            <div class="form-group col-5">
                                <button type="submit" class="btn btn-success">{% trans "Login" %}</button>
                            </div>
                            <div class="login-img-wrap col">
                                <p class="login-msg" id="login-msg-p1" style="font-size: 1.25em; font-weight: bold;">{% trans "NO DISASTER ZONE" %}</p>
                                <img src="{% static 'images/boy_welcome.png' %}" alt="Login Img" class="small-image img-fluid mt-4" id="login-boy">
                                <p class="login-msg" style="font-size: 1.25em; font-weight: bold;">{% trans "LET'S GET IT!!" %}</p>
                            </div>                                                     
                        </div>
                    </form>
                    <form action="{% url 'backdoor' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group col-5">
                            <button type="submit" class="btn btn-primary">{% trans "Continue Without Account" %}</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    {% trans "New Users Signup" %} <a href="{% url 'signup' %}">{% trans "Here" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
<!--        <div class="col-md-8">-->

<!--        </div>-->

    </div>
</div>
{% endblock %}
