{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4">
            {% if msg %}
                <div class="alert alert-{{tag}}">{{ msg }}</div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "Signup Form" %}</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans "Username" %}</label>
                            <input type="text" placeholder="{% trans "Username" %}" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Email Address" %}</label>
                            <input type="email" placeholder="{% trans "Email Address" %}" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Password" %}</label>
                            <input type="password" placeholder="{% trans "Password" %}" class="form-control" name="password" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Confirm Password" %}</label>
                            <input type="password" placeholder="{% trans "Re-enter Password" %}" class="form-control" name="confirm_password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    {% trans "Existing Users: Login" %} <a href="{% url 'login' %}">{% trans "Here" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Additional content can go here -->
        </div>
    </div>
</div>
{% endblock %}
