{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <h1 class="text-info">{% trans "Single User Details" %}</h1>
    <h2>{% trans "User ID" %} : {{ user.id }}</h2>
    <h2>{% trans "Name" %} : {{ user.name }}</h2>
    <h2>{% trans "Email" %} : {{ user.email }}</h2>
    <h2>{% trans "Password" %} : {{ user.password }}</h2>
    <h2>{% trans "Mobile" %} : {{ user.mobile }}</h2>
</div>
{% endblock %}
